{% for item in affiliate_log %}
	<!--
	{$lclr = 'success';$lsin = 'check';}
	else if(strpos($objRow['log_msg'],'edited'))
	{$lclr = 'info';$lsin = 'edit';}
	else if(strpos($objRow['log_msg'],'deleted'))
	{$lclr = 'warning';$lsin = 'remove'; }
	-->						      
	<div class="col-md-8 padding_left_right_zero activity_row"> 
	<a href="javascript:void(0)">
	{% if item.kind == 'create' %}
	<div class="label label-success">
	<i class="fa fa-check"></i>
	{% elseif item.kind == 'edit' %}
	<div class="label label-info">
	<i class="fa fa-edit"></i>
	{% elseif item.kind == 'delete' %}
	<div class="label label-danger">
	<i class="fa fa-remove"></i>
	{% else %}
	
	{% endif %}
	</div>
	<span>{{item.msg}} by {{item.username}}</span>
	</a>
	</div>  
	<div class="col-md-4 activity_time">   
	<span class="feed-time">
	<em>
	{{item.timestamp|date('m/d/Y \\a\\t h:i:s A')}}
	</em>
	</span>
	</div>
{% endfor %}