</div>
<footer id="footer">
	<div class="container-fluid">2014 © <i>ISLAND PEEPS</i> by <a href="http://studspro.com/" target="_blank">studspro.com</a></div>
</footer>
</div>
{% include 'widgets/script.twig' %}
</body>
</html>