</div>
<footer id="footer">
	<div class="container-fluid">&copy;2014 - {{"now"|date('Y')}} <i>ISLAND PEEPS</i> by <a href="http://studspro.com/" target="_blank">studspro.com</a></div>
</footer>

</div>
<div class="chat-widget">
	<div class="chat minimized" id="rchat">
		<div class="panel panel-default panel-chat">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-comments"></i> <span class="hideit">Chat</span>
				</div>
			</div>
			<div class="panel-body">
				<ul class="scroll maxheight_chat" data-chatlog>
				</ul>
			</div>
			<div class="panel-footer">
				<div class="input-group col-lg-10 col-md-10 col-xs-10 col-sm-11">
					<input id="chat-input" name="md_message" autocomplete="off" type="text" placeholder="Type your message here..." class="form-control">
					<span class="input-group-btn">
						<button id="chat-button"  type="submit" class="btn btn-success btn-sm">Send</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'widgets/script.twig' %}
<div style="display:none" id="ntf-root">{{notifications|json_encode()}}</div>
<script>
$(function(){
	var notifications = JSON.parse($('#ntf-root').html());
	for(var i=0;i<notifications.length;i++){
		sk.alert(notifications[i][0],notifications[i][1]);
	}
});
</script>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="file-browser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel"></h4>
        <p><small>Click thumbnail to select</small></p>
      </div>
      <div class="modal-body img-wrapper">
        <div class="row img-selector">
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="file-finish" disabled>Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</body>
</html>