<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
{% include 'widgets/dns_prefetch.twig' %}
<title>{{title}}</title>
<link rel="canonical" href="{{canonical}}" />
{% include 'widgets/meta.twig' %}
{% include 'widgets/style.twig' %}
{% include 'widgets/favicon.twig' %}
</head>
<body>