<!DOCTYPE html>
<html lang="en">
<head>
{% include 'widgets/dns_prefetch.twig' %}
<title>{{title}}</title>
<link rel="canonical" href="{{canonical}}" />
{% include 'widgets/meta.twig' %}
{% include 'widgets/style.twig' %}
{% include 'widgets/favicon.twig' %}
</head>
<body {%if admin.sidebar == 1 %}class="reduced-sidebar"{%endif%}>