{% include 'mobile/widgets/header.twig' %}
{% include 'mobile/widgets/banner.twig' %}
<div id="featured-singles-2" class="WIDE paginate-featured-mobile disabled" data-min="16" data-type="featured-singles" data-page="1">
	<div class="bigTitleingles">featured singles</div>
	{% include 'mobile/partials/featured_singles.twig' %}
	<a class="toggle viewall">view more</a>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>
</div>
<div id="featured-mixtapes-2" class="WIDE paginate-featured-mobile disabled" data-min="16" data-type="featured-mixtapes" data-page="1">
	<div class="bigTitleingles">featured mixtapes</div>
	{% include 'mobile/partials/featured_mixtapes.twig' %}
	<a class="toggle viewall">view more</a>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>
</div>
{% include 'mobile/widgets/footer.twig' %}