{% include 'mobile/widgets/header.twig' %}
<div id="loginform">
	<div class="title">Login</div>
	<div class="box">
		<form method="post" action="{{base_url}}api/reset_password" data-callback="rdrUsr">
			<input type="hidden" name="token" value="{{reset_token}}" />
			<input type="password" name="pass" placeholder="New Password" class="input" />
			<input type="password" name="cpass" placeholder="Confirm New Password" class="input" />
			<button type="submit" class="submit">Submit</button>
		</form>
	</div>
</div>
{% include 'mobile/widgets/footer.twig' %}