{% include 'mobile/widgets/header.twig' %}
<div class="leftTitle"> 
	<select name="sort" class="select-onload" onchange="argsChange();" data-selected="{{sort}}">
		<option value="popular" selected>popular</option>
		<option value="latest">latest</option>
	</select>
	<span> &#9662;</span>
	<div class="right">
		<select name="timespan" class="select-onload" onchange="argsChange();" data-selected="{{timespan}}">
			<option value="today">today</option>
			<option value="this_week" selected>this week</option>
			<option value="this_month">this month</option>
			<option value="all_time">all times</option>
		</select>
		<span> &#9662;</span>
	</div>
</div>
<div id="singles-2" class="WIDE paginate-mobile disabled" data-type="singles" data-page="1" data-sort="{{sort}}" data-timespan="{{timespan}}" data-min="12">
	{% include 'mobile/partials/single_row.twig' %}
	<a class="toggle viewall">view more</a>
	<div class="load-container load8" data-paginater-loading>
		<div class="loader">Loading...</div>
	</div>	
	<div class="trigger-load"></div>
</div>
{% include 'mobile/widgets/footer.twig' %}