{% include 'widgets/nav.twig' %}
<style >
.fc-view {
margin-top:25px;
}
.pbday.fc-event {
  color: #c95325;
}
.pastevent.fc-event {
  color: #919192;
}
.inday.fc-event {
  color: #a59505;
}
.evtday.fc-event {
  color: #009100;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb breadcrumb-arrows breadcrumb-default">
				<li><a href="{{base_url}}admin"><i class="fa fa-home fa-lg"></i></a></li>
				<li><a href="{{base_url}}admin/dashboard">Dashboard</a></li>
				<li><a href="#">Calendar</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">  
				<div class="panel-heading" style="background-color: #fff;">
					<div class="col-md-12" style="margin-left: -15px;">
						<div class="col-md-2" ><span class="label" style="background-color:#3B5998;display: inherit;font-weight: 400;">Profile publish date</span></div>
						<div class="col-md-2" ><span class="label" style="background-color:#EBBBA8;color:#C95325;display: inherit;font-weight: 400;">Profile's Birthday</span></div>
						<div class="col-md-2" ><span class="label" style="background-color:#F3FDAE;color:#A59505;display: inherit;font-weight: 400;">Independence day</span></div>
						<div class="col-md-2" ><span class="label" style="background-color:#BBE2AE;color:#009100;display: inherit;font-weight: 400;">Current (or) future Events</span></div>
						<div class="col-md-2" ><span class="label" style="background-color:#C2DFF2;color:#246887;display: inherit;font-weight: 400;">Affiliates Birthday</span></div>
						<div class="col-md-2" ><span class="label" style="background-color:#F0F1F6;color:#919192;display: inherit;font-weight: 400;">Past events</span></div>
					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="col-md-6">
						<a href="javascript:void(0)" class="btn btn-success hidden-xs">
						<span class="fa fa-gift"></span>&nbsp;Date of Birth added &nbsp;({{dob_count}})</a>
					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="panel-body">
						 <div id="calendar-full" {% if start_month is defined %}data-month="{{start_month}}"{%endif%}></div>
					 </div> 
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'widgets/footer.twig' %}