{%spaceless%}
{% include 'widgets/nav.twig' %}
<div class="signupPage">
	<div class="shadow"></div>
	<div class="top">
		<h1>Create a free account<span>start sharing music on wixtape for free</span></h1>
	<div class="upload">
		upload
	</div>
	<div class="share">
		share
	</div>
	<div class="favorite">
		favorite
	</div>
	<div class="rating">
		rating
	</div>
	<div class="comment">
		comments
	</div>
</div>
<div class="bottom">
	<div class="right">
		<form method="post" action="{{base_url}}api/create_user" data-callback="rdrUsr">
			<input type="text" name="user_name" id="search_box2"  placeholder="username" value="" class="input"/>
			<input type="email" name="email" id="search_box2"  placeholder="email" value="" class="input"/>
			<input type="password" name="password" id="search_box2"  placeholder="password" value="" class="input"/>
			<button type="submit" class="submit">Submit</button> 
		</form>
	</div>
</div>
</div>
{% include 'widgets/footer.twig' %}
{%endspaceless%}