{%spaceless%}
{% include 'widgets/nav.twig' %}
<div id="uploadform" >
	<div class="uploadtitle">forgot password</div>

	<div class="box">
		<form method="post" action="{{base_url}}api/recover_account" data-callback="forgotPass">

		<input type="email" name="email" placeholder="email address" class="input" />

		<button type="submit" class="submit">Submit</button>
	</form>
	</div>
</div>

<div class="marginBottom"></div>
{% include 'widgets/footer.twig' %}
{%endspaceless%}