{% spaceless %}
{% include 'widgets/nav.twig' %}
<div class="FRONT" style="min-height: calc(100vh - 215px); display: flex; align-items: center;">
	<div style="width: 100%">
		<div class="TbigTitle" style="margin-top:-14px;padding-top:0;">Your Browser Isn't supported.</div>
		<h4 style="font-weight:300; font-size: 22px">In order to upload tracks and mixtapes, you must use a supported browser. Try installing Google Chrome or Firefox in order to access the upload feature.</h4>
	</div>
</div>
{% include 'widgets/footer.twig' %}
{%endspaceless%}