<div class="large-12 columns chart active">
	<a class="close">&times;</a>
	<div class="chart-wrap">
		<div id="graph-results" height="200" width="800" style="height:200px;width:800px;"></div>
	</div>
</div>
<div class="large-3 columns by-country">
	<ul>
		{% for item in data.regions %}
		<li>
			<a data-country="{{item.id}}">{{item.name}}</a>
		</li>
		{% endfor %}
	</ul>
</div>
<div class="large-9 columns graph-results">
	<ul class="results-inner">
		{%set results = data.results %}
		{% include 'frontend/search_result.twig' %}
	</ul>
	<ul class="results-window large-block-grid-6 medium-block-grid-4 small-block-grid-2">
	
	</ul>
</div>
<div style="display:none" id="graph-dataset">
{{data.chart|json_encode()}}
</div>
<div style="display:none" id="graph-labels">
{{data.labels|raw|json_encode()}}
</div>